.header {
  position: relative;
}
.header__container {
  position: absolute;
  width: 185px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.authorization {
  display: flex;
  column-gap: 5px;
}

@media (max-width: 767px) {
  .authorization {
    margin-bottom: 110px;
  }
}
.authorisation__link {
  display: block;
  padding: 10px 15px;
  border-radius: 25px;
  &:hover {
    background-color: $colorTextPrimary;
    color: $colorTextSecondary;
  }
}
.authorisation__link--active {
  border: 2px solid $colorTextPrimary;
}
.logo {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header__container {
    width: 670px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .header__container {
    width: 940px;
  }
}
