//Кольори
$colorTextPrimary: #ffffff;
$colorTextSecondary: #333;
$colorTextTertiary: #666;
$colorBtn: #ff4e50;
//Шрифти
$fontFamilyPrimary: "Montserrat", sans-serif;
$fontFamilySecondary: "Roboto", sans-serif;
