// Кольори
$colorTextPrimary: #ffffff;
$colorTextSecondary: #333333;
$colorTextTertiary: #666666;
$colorBtn: #ff4e50;
//Шрифти
$fontPrimary: "Montserrat", sans-serif;
$fontSecondary: "Roboto", sans-serif;
