.hero {
  background-image: url(../img/hero/background-mobile.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  @extend %flex-center;
  @media (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (min-device-pixel-radio: 2) {
    background-image: url(../img/hero/background-mobile@2x.jpg);
  }
}
.hero__container {
  @extend %flex-center;
  flex-direction: column;
  row-gap: 15px;
}
.hero__title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.hero__text {
  text-align: center;
  font-family: $fontSecondary;
  font-size: 18px;
  font-weight: 300;
}
.hero__button {
  background-color: $colorBtn;
  transition-property: background-color, color;
  transition: 0.5s ease;
  &:hover {
    background-color: $colorTextPrimary;
    color: $colorBtn;
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/background-tablet.jpg);
    @media (min-resolution: 2dppx),
      (min-resolution: 192dpi),
      (min-device-pixel-radio: 2) {
      background-image: url(../img/hero/background-tablet@2x.jpg);
    }
  }
  .hero__container {
    gap: 35px;
  }
  .hero__title {
    font-size: 52px;
  }
  .hero__text {
    font-size: 24px;
  }
}
@media (min-width: 991px) {
  .hero {
    background-image: url(../img/hero/background-desktop.jpg);
    @media (min-resolution: 2dppx),
      (min-resolution: 192dpi),
      (min-device-pixel-radio: 2) {
      background-image: url(../img/hero/background-desktop@2x.jpg);
    }
  }
}
