body {
  color: $colorTextPrimary;
  font-family: $fontFamilyPrimary;
  font-weight: 700;
  font-size: 14px;
}
img {
  width: 100%;
  display: block;
  max-width: 100%;
}
.container {
  min-width: 320px;
}
.button {
  display: block;
  padding: 12px 15px;
  border-radius: 25px;
}
